.comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.comment-form label {
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 0;
}

.comment-form .name-and-rating-panel {
  display: flex;
  width: 100%;
  gap: 4rem;
}

.comment-form input[type="text"] {
  width: 100%;
  padding: 10px;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.comment-form .general-input {
  flex: 2;
}

.comment-form .stars-rating {
  flex: 1;
}

.comment-form .review-panel input[type="text"] {
  height: 100px;
  font-size: 14pt;
}

.comment-form button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: #f4c542;
  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
}

.comment-form button:hover {
  background-color: #e2a732;
}

@media (min-width: 900px) {
  .comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;
    min-width: 800px;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .comment-form {
    padding: 1rem;
  }

  .comment-form .name-and-rating-panel {
    flex-direction: column;
    gap: 1rem;
  }

  .comment-form input[type="text"],
  .comment-form textarea {
    font-size: 12px;
  }

  .comment-form textarea {
    height: 80px;
    font-size: 12pt;
  }

  .comment-form button {
    padding: 8px;
    font-size: 14px;
  }
}
