$breakpoint-large: 1024px;
$breakpoint-small: 768px;
$breakpoint-extra-small: 400px;

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  background: var(--neutral-600);
  padding-top: 100px;
  will-change: transform;
  z-index: 99;

  &.burger-menu_closed {
    pointer-events: none;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    transition: background 0.3s ease;
  }

  .background.open {
    background: #febd2f;
  }

  .burger-menu-navigation {
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 5rem;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    list-style: none;
    margin: 0;
  }

  li {
    color: var(--neutral-50-501);
    display: block;
    transform-origin: -20px 50%;
    font-size: clamp(1.2rem, 2vw + 1rem, 3rem);
    padding: 10px;
    will-change: transform, opacity, filter;
    transition: font-size 0.3s ease;

    &:hover {
      color: var(--neutral-100);
    }
  }

  a {
    color: var(--neutral-50-501);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      filter: grayscale(100%) brightness(200%);
    }

    &:visited {
      color: var(--neutral-500);
    }
  }

  @media (max-width: $breakpoint-extra-small) {
    width: 80%;
  }

  .menu-btn {
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;

    path {
      stroke: black;
    }

    &_closed {
      pointer-events: auto;
      outline: none;
      border: none;
      user-select: none;
      cursor: pointer;
      position: absolute;
      top: 18px;
      left: 15px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      padding: 10px;

      path {
        stroke: black;
      }
    }
  }
}
