$breakpoint-large: 1024px;
$breakpoint-small: 768px;
$breakpoint-extra-small: 400px;

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  background: var(--neutral-600);
  padding-top: 100px;
  will-change: transform;
  // transform: translateX(-100%);

  .burger-menu-navigation {
    z-index: 99;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
  }

  li {
    color: var(--neutral-50-501);
    display: block;
    transform-origin: -20px 50%;
    font-size: clamp(1.2rem, 2vw + 1rem, 3rem);

    padding: 10px;
    will-change: transform, opacity, filter;
    transition: font-size 0.3 ease;
  }

  li:hover {
    color: var(--neutral-100);
  }

  ul,
  li {
    list-style: none;
    margin: 0;
  }

  a {
    color: var(--neutral-50-501);
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    filter: grayscale(100%) brightness(200%);
  }

  a:visited {
    color: var(--neutral-500);
  }

  @media (max-width: $breakpoint-extra-small) {
    width: 80%;
  }
  .menu-btn {
    outline: none;
    border: none;

    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;

    path {
      stroke: black;
    }
  }
}
