.header {
  position: relative;
  text-align: center;
  width: 100%;
}

.header img {
  width: 100%;
  height: auto;
}

.header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
