.navigation-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 40%;
  z-index: 99999;
  position: absolute;
  width: 100%;
}

.navigation-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.navigation-container h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 50.83px;
}
ul {
  padding: 0;
}

.navigation-items li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 174px;
  height: 56px;
  list-style: none;
}

.navigation-items li:hover {
  background-color: red;
  width: 174px;
  height: 56px;
  border-radius: 30px;
}

a {
  text-decoration: none;
  font-family: serif;
  color: black;
  font-weight: 400;
  font-size: 24px;
}

button {
  border: none;
  background-color: transparent;
}

/* button:hover {
  background-color: red;
  width: 174px;
  height: 56px;
} */
