/* .main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-direction: row;
  padding: 2rem 1rem 1rem 2rem;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.caregories {
  gap: 2rem;
}

.recipes-list h2 {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .recipes-list {
    flex-direction: column;
  }

  .categories {
    width: 100%;
  }
}

.recipes-body {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.recipes-body a {
  max-width: 650px;
  max-height: 320px;

  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.1);
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .recipes-body {
    grid-template-columns: auto;
  }
} */
