.recipes-list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-direction: row;
  padding: 2rem 1rem 1rem 2rem;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 970px) {
  .recipes-list-container {
    flex-direction: column;
  }
}
