.recipes-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-direction: row;
  padding: 2rem 1rem 1rem 2rem;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.caregories {
  gap: 2rem;
}

.recipes-list h2 {
  margin: 0;
}
